<ion-header color="primary">
    <ion-toolbar color="primary">
        <ion-title>
            Menu
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content color="secondary">

    <ion-row class="flex-row">
        <ion-col class="flex-sm-column tablas1">
            <img id="velero1" src="/assets/velero.png" />
        </ion-col>
        <ion-col class="flex-column tablas1">
            <img id="velero1" src="/assets/velero.png" />
        </ion-col>
        <ion-col class="flex-column tablas1">
            <img id="velero1" src="/assets/velero.png" />
        </ion-col>
    </ion-row>
    <ion-row class="flex-row">
        <ion-col class="flex-sm-column tablas1">
            <img id="velero1" src="/assets/velero.png" />
        </ion-col>
        <ion-col class="flex-column tablas1">
            <img id="velero1" src="/assets/velero.png" />
        </ion-col>
        <ion-col class="flex-column tablas1">
            <img id="velero1" src="/assets/velero.png" />
        </ion-col>
    </ion-row>
    <ion-row class="flex-row">
        <ion-col class="flex-sm-column tablas1">
            <img id="velero1" src="/assets/velero.png" />
        </ion-col>
        <ion-col class="flex-column tablas1">
            <img id="velero1" src="/assets/velero.png" />
        </ion-col>
        <ion-col class="flex-column tablas1">
            <img id="velero1" src="/assets/velero.png" />
        </ion-col>
    </ion-row>
    <ion-row class="flex-row">
        <ion-col class="flex-sm-column tablas1">
            <img id="velero1" src="/assets/velero.png" />
        </ion-col>
        <ion-col class="flex-column tablas1">
            <img id="velero1" src="/assets/velero.png" />
        </ion-col>
        <ion-col class="flex-column tablas1">
            <img id="velero1" src="/assets/velero.png" />
        </ion-col>
    </ion-row>







</ion-content>