<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Menu
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="secondary">
    <ion-grid>
        <ion-row>
            <ion-col>
                <img class="menus" src="/assets/menu1.jpg" /> ion-col
            </ion-col>
            <ion-col>
                <img class="menus" src="/assets/menu2.jpg" /> ion-col
            </ion-col>
            <ion-col>
                <img class="menus" src="/assets/menu3.jpg" /> ion-col
            </ion-col>
            <ion-col>
                <img class="menus" src="/assets/menu4.jpg" /> ion-col
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>
                <img class="menus" src="/assets/menu5.jpg" /> ion-col
            </ion-col>
            <ion-col>
                <img class="menus" src="/assets/menu6.jpg" /> ion-col
            </ion-col>
            <ion-col>
                <img class="menus" src="/assets/menu7.jpg" /> ion-col
            </ion-col>
            <ion-col>
                <img class="menus" src="/assets/menu8.jpg" /> ion-col
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>
                <img class="menus" src="/assets/menu9.jpg" /> ion-col
            </ion-col>
            <ion-col>
                <img class="menus" src="/assets/menu10.jpg" /> ion-col
            </ion-col>
            <ion-col>
                <img class="menus" src="/assets/menu11.jpg" /> ion-col
            </ion-col>
            <ion-col>
                <img class="menus" src="/assets/menu12.jpg" /> ion-col
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>
                <img class="menus" src="/assets/menu13.jpg" /> ion-col
            </ion-col>
            <ion-col>
                <img class="menus" src="/assets/menu14.jpg" /> ion-col
            </ion-col>
            <ion-col>
                <img class="menus" src="/assets/menu15.jpg" /> ion-col
            </ion-col>
            <ion-col>
                <img class="menus" src="/assets/menu4.jpg" /> ion-col
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>