<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Menu
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="secondary">
    <ion-grid>
        <ion-row>

            <ion-col class="cuadros">
                <img class="menus" src="/assets/menu1.jpg" /> Sopa de mariscos caballero
            </ion-col>
            <ion-col class="cuadros">
                <img class="menus" src="/assets/menu2.jpg" /> Casuela de maricos y almejas
            </ion-col>
            <ion-col class="cuadros">
                <img class="menus" src="/assets/menu3.jpg" /> Camarones al aguacate
            </ion-col>
            <ion-col class="cuadros">
                <img class="menus" src="/assets/menu4.jpg" /> Sopa de camarones
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col class="cuadros">
                <img class="menus" src="/assets/menu5.jpg" /> Ensalada con camarones
            </ion-col>
            <ion-col class="cuadros">
                <img class="menus" src="/assets/menu6.jpg" /> Plato del mar
            </ion-col>
            <ion-col class="cuadros">
                <img class="menus" src="/assets/menu7.jpg" /> Camarones al ajillo
            </ion-col>
            <ion-col class="cuadros">
                <img class="menus" src="/assets/menu8.jpg" /> Calamar a la mesa
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col class="cuadros">
                <img class="menus" src="/assets/menu9.jpg" /> Sushi
            </ion-col>
            <ion-col class="cuadros">
                <img class="menus" src="/assets/menu10.jpg" /> Langosta y cangrejo a las verduras
            </ion-col>
            <ion-col class="cuadros">
                <img class="menus" src="/assets/menu11.jpg" /> Pollo a las verduras
            </ion-col>
            <ion-col class="cuadros">
                <img class="menus" src="/assets/menu12.jpg" /> Lomo de cerdo con queso
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col class="cuadros">
                <img class="menus" src="/assets/menu13.jpg" />Variado variado del mar medio
            </ion-col>
            <ion-col class="cuadros">
                <img class="menus" src="/assets/menu14.jpg" /> Bonicheti con espinacas
            </ion-col>
            <ion-col class="cuadros">
                <img class="menus" src="/assets/menu15.jpg" /> Lagosta agridulce
            </ion-col>
            <ion-col class="cuadros">
                <img class="menus" src="/assets/menu16.jpg" /> Filete de salmos con limon y aji
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="cuadros">
                <img class="menus" src="/assets/menu17.jpg" />Variado variado del mar medio
            </ion-col>
            <ion-col class="cuadros">
                <img class="menus" src="/assets/menu18.jpg" /> Bonicheti con espinacas
            </ion-col>
            <ion-col class="cuadros">
                <img class="menus" src="/assets/menu19.jpg" /> Lagosta agridulce
            </ion-col>
            <ion-col class="cuadros">
                <img class="menus" src="/assets/menu20.jpg" /> Filete de salmos con limon y aji
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>