<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Restaurante Remo
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="secondary">
    <ion-card class="welcome-card">
        <img id="velero1" src="/assets/velero.png" />
        <ion-card-header>
        </ion-card-header>
        <ion-card-content>

        </ion-card-content>
    </ion-card>




    <ion-item color="secondary">

        <ion-label class="lebel2">Iniciar sesion</ion-label>

    </ion-item>

    <select name="perfiles" class="per">
        <option value="1">Administrador</option>
        <option value="1">Mesero</option>
        <option value="1">Jefe de cocina</option>
        <option value="1">Cajero</option>
    </select>



    <ion-item color="secondary">
        <ion-input color="secondary">Usuario:</ion-input>
    </ion-item>
    <ion-item color="secondary">
        <ion-input color="primary">Contraseña:</ion-input>
    </ion-item>


    <ion-item color="secondary">
        <ion-button color="primary">Iniciar</ion-button>
    </ion-item>

    <ion-select>mesero</ion-select>






</ion-content>