ion-title {
    font-size: 35px;
    color: #afe2ae;
    text-align: center;
    -webkit-text-stroke: 0.4px #b1afae;
}

ion-row {}

.menus {
    border-radius: 5px;
    height: 70px;
    width: 80px;
}

.cuadros:hover {
    background-color: rgb(56, 77, 194);
}

.listas {
    height: 40px;
    width: 40px;
}

.cuadros {
    border-radius: 5px;
    height: 130px;
    width: 85px;
    margin: 3px;
    background-color: rgb(98, 115, 209)
}

ion-col {
    font-size: 14px;
    text-align: center;
}